*,
html,
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  color: green !important;
}
h3 {
  color: green !important;
}
.partner-img {
  width: 100px !important;
  padding: 10px !important;
}
.landing-wallpaper {
  height: 400px !important;
  object-fit: contain !important;
}
.product-item {
  padding: 15px;
  box-shadow: 0 4px 5px rgba(130, 127, 127, 0.3);
  border-radius: 10px;

}

.employees {
  padding: 20px;
  box-shadow: 0 4px 10px rgba(130, 127, 127, 0.3);
  border-radius: 10px;
  width: 85%;
  max-width: 450px;
  min-width: 350px;
}
.product-link {
  color: green !important;
  text-decoration: none;
}
/* Footer */
#Facebook:hover {
  color: rgb(2, 8, 120) !important;
}
#Twitter:hover {
  color: skyblue !important;
}
#Instagram:hover {
  color: purple !important;
}
#Github:hover {
  color: green !important;
}
#Youtube:hover {
  color: red !important;
}
#LinkedIn:hover {
  color: blue !important;
}

.footer-container a {
  color: white !important;
  margin: 5px !important ;
  padding: 5px !important;
  font-size: x-large !important;
}
.social-icons a {
  color: white !important;
  margin: 5px !important ;
  padding: 5px !important;
  font-size: x-large !important;
}
